.img {
    position: relative;
    z-index: 0;
}

.face{
    padding-top: 0.5em;
    width: 70%;
    height: 70%;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}